/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Nov-2018, 15:04:21
    Author     : lizziecrouch
*/


body {
  background: lightcoral;
  margin: 0;
  font-family: sans-serif
}

container {
    background: blue;
}
header {
  color: white;
  padding: 1em;
  background: indianred;
  text-align: center;
}
header h1 {
  margin: 0;
}
